:root {
  --color-accent: rgb(158, 5, 107);
  --color-primary: aliceblue;
  --color-darker: rgb(70, 120, 170);
  --color-darkest: rgb(49, 46, 46);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  text-transform: lowercase;
  /* letter-spacing: 0.2em; */
}

h2 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.2em;
  margin: 2rem 0;
}

.title > .icon {
  margin-right: 0.5em;
  font-size: 2rem;
}

button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  background: black;
  color: white;
  border: none;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
}

button:hover {
  filter: opacity(0.6);
}

label {
  font-weight: bold;
  margin: 2rem 0;
}

label > input {
  margin-left: 1rem;
}

input {
  background: var(--color-primary);
  border: none;
  border-bottom: 2px solid rgba(128, 128, 128, 0.185);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

button {
  margin-left: 0.5rem;
}

ol {
  /* balance out left-side padding */
  padding-right: 4rem;
}

select {
  background: none;
  border: 1px solid var(--color-darker);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

label > select {
  margin-top: 1rem;
}
option {
  padding: 0.5rem;
  background: var(--color-primary);
}

/*****SECTIONS *****/

header,
footer,
main {
  padding: 2rem;
}

.notice {
  background: var(--color-accent);
  position: sticky;
  top: 0;
  padding: 1rem 2rem;
  color: white;
  letter-spacing: 0.2em;
  font-size: 1rem;
  text-align: center;
}

.title {
  margin: 1rem;
  display: flex;
  align-items: baseline;
}

.toolbox {
  padding: 2rem;
  border-left: 2px solid lightgrey;
  /* border-radius: 2rem; */
  margin-left: 2rem;
  width: fit-content;
  height: fit-content;

  display: flex;
  align-items: center;
}
.toolbox__form {
  display: flex;
}

.actionbox__vis {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.NavLink {
  margin: 1rem 0;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
.NavLink:hover {
  font-weight: bold;
}

.label__sort {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summary {
  margin: 2rem;
}

.Tweet_single {
  margin-bottom: 2rem;
  padding: 2rem;
  background-color: var(--color-primary);
}

.Tweet__count {
  color: var(--color-accent);
  font-size: 2em;
}

.outcome {
  font-weight: bold;
  font-size: 2em;
  margin: 1rem;
}

.outcome__percents {
  list-style: none;
  padding: 0;
  text-align: center;
}

.outcome__negative {
  color: var(--color-darkest);
}
.outcome__pos {
  color: var(--color-accent);
}
.outcome__neut {
  color: var(--color-darker);
}

.mark__neg {
  border-left: 5px solid var(--color-darkest);
}
.mark__neut {
  border-left: 5px solid var(--color-darker);
}
.mark__pos {
  border-left: 5px solid var(--color-accent);
}

.Tweet_metadata {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
  font-size: 1rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 2em;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Analysis {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  font-size: smaller;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 758px) {
  header {
    flex-direction: column;
    align-items: center;
  }
  h2 {
    text-align: center;
  }
  .toolbox {
    border-left: none;
    border-top: 2px solid lightgrey;
    margin-left: 0;
  }
  button {
    margin-left: 0;
  }
}

@media screen and (max-width: 534px) {
  label {
    display: flex;
    align-items: center;
  }
  label,
  form,
  .toolbox {
    flex-direction: column;
    margin-bottom: 1rem;
  }
  label > input {
    display: block;
    margin: 0.5rem 0;
    text-align: center;
  }
  button {
    width: 100%;
  }
}
