:root {
  --color-accent: rgb(158, 5, 107);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.2em;
  margin: 2rem 0;
}

.title > .icon {
  margin-right: 0.5em;
  font-size: 2rem;
}

button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  background: black;
  color: white;
  border: none;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
}

label > input {
  margin-left: 1rem;
}

input {
  background: rgb(220, 233, 246);
  border: lightgray;
  padding: 0.5rem;
}

/*****SECTIONS *****/

header,
footer,
main {
  padding: 2rem;
}

.notice {
  background: var(--color-accent);
  position: sticky;
  top: 0;
  padding: 1rem 2rem;
  color: white;
  letter-spacing: 0.2em;
  font-size: 1rem;
  text-align: center;
}

.title {
  margin: 1rem;
  display: flex;
  align-items: baseline;
}

.toolbox {
  padding: 2rem;
  border-left: 2px solid lightgrey;
  /* border-radius: 2rem; */
  margin-left: 2rem;
  width: fit-content;
  height: fit-content;

  display: flex;
  align-items: center;
}
.toolbox__form {
  display: flex;
}

.Tweet_single {
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: aliceblue;
}

.Tweet__count {
  color: var(--color-accent);
  font-size: 2em;
}

.Tweet_metadata {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
  font-size: 1rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 2em;
}
.Tweet_metadata > li {
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  font-size: smaller;
}

@media screen and (max-width: 758px) {
  header {
    flex-direction: column;
    align-items: center;
  }
  h2 {
    text-align: center;
  }
  .toolbox {
    border-left: none;
    border-top: 2px solid lightgrey;
    margin-left: 0;
  }
}

@media screen and (max-width: 534px) {
  label {
    display: flex;
  }
  label,
  form,
  .toolbox {
    flex-direction: column;
    margin-bottom: 1rem;
  }
  label > input {
    display: block;
    margin: 0.5rem 0;
  }
  button {
    width: 100%;
  }
}
